@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: calc(100vw / 1440 * 10);
  }

  @media (max-width: 600px) {
    html {
      font-size: calc(100vw / 600 * 10);
    }
  }

  body {
    @apply bg-background;
    color: white;
  }
}
